
.ipynb_checkpoints/Model-checkpoint.ipynb
.ipynb_checkpoints/Model-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
cbc.exe
coin-license.txt
.ipynb_checkpoints/Model-checkpoint.ipynb
data/dummy_result.csv
data/dummy_result_rolling.csv
data/dummy_result.csv
data/dummy_result.csv
.ipynb_checkpoints/Model-checkpoint.ipynb
.ipynb_checkpoints/Model-checkpoint.ipynb
data/dummy_result.csv
.ipynb_checkpoints/Model-checkpoint.ipynb
data/dummy_result.csv
.ipynb_checkpoints/plotting-checkpoint.ipynb
data/dummy_result_day1.csv
data/dummy_result_day2.csv
data/dummy_result_day3.csv
